@font-face {
  font-family: "Emulogic";
  src: url("emulogic.ttf");
}

:root {
  --accent-color: rgb(123, 255, 123);
  --dark-color: rgb(44, 44, 44);
  --border-preset: 2px solid var(--accent-color);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Emulogic", sans-serif;
}

body {
  height: 100vh;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin: 0 10%;
}

h1 {
  font-size: 2em;
  color: var(--accent-color);
  font-weight: 400;
  margin-top: 36px;
  text-align: center;
}

body > p {
  width: 800px;
}

.scoreboard {
  border: var(--border-preset);
  border-radius: 10px;
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 64px;
}

button {
  width: 155px;
  background-color: var(--dark-color);
  color: var(--accent-color);
  border: var(--border-preset);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.player-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

button img {
  display: block;
  margin: 0 auto 16px auto;
}

#new-game {
  width: initial;
  font-size: 18px;
  padding: 6px 18px;
  margin: 0;
}

p {
  color: var(--accent-color);
  font-size: 14px;
  text-align: center;
}

.results {
  flex: 1;
  align-self: stretch;
  border: var(--border-preset);
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 24px;
}

h2,
h3 {
  color: var(--accent-color);
  font-weight: 400;
}

.results div > * {
  margin-top: 16px;
}

.results div p {
  text-align: initial;
}
